*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #455;
  line-height: 1.5;
  font-family: "Muli", sans-serif;
  background-color: blueviolet;
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
}

ul, ol {
  padding-left: 40px;
}

h1 {font-size: 1.9em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.5em; }

h1, h2, h3, h4, h5, h6, p, ul, ol, .featuredImage { margin-bottom: 20px; }

li { margin-bottom: 10px;}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
  height: 60px;
  line-height: 60px;
  /* background: #1b93d7; */
  text-align: center;
  color: #fff;
}

.wrapper {
    width: 100%;
    max-width: 900px;
    padding: 0 10px;
    margin: auto;
}

.logo {
  line-height: 60px;
  font-size: 40px;
  font-weight: 600;
}

main .wrapper {
  padding: 50px 15px;
}

.post {
  padding: 20px;
  margin-bottom: 50px;
  background-color: #fff;
  box-shadow: 0px 2px 3px rgba(0,0,0,.13) ,1px 2px 2px rgba(0,0,0,.1) , -1px -2px 2px rgba(0,0,0,.05) ;
}

.post img {
      display: block;
      width: 100%;
}

.title {
  text-transform: uppercase;
  font-size: 1.8em;
  color: #f32e67;
}